*~
src/jupiter
jupiter-*.tar.gz
autom4te.cache/
configure
config.log
config.status
Makefile
src/Makefile
config.h.in
install-sh
config.h
Makefile.in
aclocal.m4
compile
depcomp
missing
src/Makefile.in
src/.deps/
src/main.o
stamp-h1
test-driver
common/.deps/
