*~
src/jupiter
jupiter-*.tar.gz
autom4te.cache/
configure
Makefile
Makefile.in
config.h.in
config.h
install-sh
aclocal.m4
compile
depcomp
missing
stamp-h1
test-driver
libtool
m4/

config.*
.deps/
.libs/
*.o
*.a
*.la
*.lo
*.sh
*.log
*.trs

tests/atconfig
tests/atlocal
tests/package.m4
tests/testsuite
